body
{
	background-color: #eceff1 !important;
}

.navbar-dark
{
	background-color: #263238;
}

.accentuation
{
	color: #ef5350;
}

a.accentuation:hover
{
	color: #ef5350;
	text-decoration: underline;
}

.badge.accentation
{
	color: white;
	background-color: #ef5350;
}

.text-purple
{
	color: #4a148c;
}