{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class="card shadow-sm">
		<div class="card-body">

			<div class="text-center">
				<h2>{{ page.title }}</h2>
			</div>

			<hr>
			<div class="row">
				<div class="col-lg-8 col-sm-12">
					{{ page.content }}
				</div>

				<div class="col-lg-4 col-sm-12">
					<div class="card">
						<div class="card-body">

							<b>Publié le {{ page.date|date('d/m/Y') }}</b>
							<hr>

							<b>Tags du poste</b><br><br>
							{% for tag in page.taxonomy.tag %}
							    <span class="badge accentation">{{ tag }}</span>
							{% endfor %}

						</div>
					</div>
				</div>
			</div>

		</div>
    </div>
{% endblock %}