{% extends 'partials/base.html.twig' %}

{% block content %}
	
	{% set collection = page.collection() %}

	<div class="card-panel z-depth-2">

		<h1><span class="red-text text-lighten-1">A</span>rticles</h1>

	    {% for p in collection %}
	        
	        <div class="card-panel z-depth-0 blue-grey lighten-5">
	        		<div class="row">
	        			<div class="col s10">
	        				{% if p.taxonomy.tag|length > 0 %}
	        					<span class="chip red lighten-1 white-text">{{ p.taxonomy.tag[0] }}</span>
	        				{% endif %}
	        				<span class="flow-text">{{ p.title }}</span>
	        			</div>

	        			<div class="col s2 right-align">
	        				<small>{{ p.date|nicetime(false) }}</small><br>
	        			</div>
	        		</div>
	        		<a class="red-text text-lighten-1" href="{{ p.url }}">Lire <i class="fas fa-arrow-right"></i></a>
	        </div>

	    {% endfor %}

	    {% if config.plugins.pagination.enabled and collection.params.pagination %}
		    {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
		{% endif %}
	</div>

{% endblock %}